*{
  padding:0;
  margin: 0;
}

html{
  min-width: 100%;
  min-height: 100vh;
}

body{
  min-width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.slot_section{
  height: 100vh;
  width: 100%;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-wrap: wrap;
  position: absolute;
  &:first-child{
    top: -100vh;
  }
  &:last-child{
    top: 100vh;
  }
}


.slot_machine_ctrl{
  position: absolute;
  z-index:999;
  a{
    display: inline-block;
    margin: 10px;
    padding:10px;
    border: 1px solid brown;
    color: brown;
    transition: color, background-Color 200ms ease-in-out;
    &:hover{
      cursor: pointer;
      background-color: burlywood;
      color: white;
    }
  }
}

#slot_machine_wrapper{
  position: absolute;
}

/*
@keyframes pulse_animation {
  0% { transform: scale(1); }
  30% { transform: scale(1); }
  40% { transform: scale(1.10); }
  50% { transform: scale(1); }
  60% { transform: scale(1); }
  70% { transform: scale(1.04); }
  80% { transform: scale(1); }
  100% { transform: scale(1); }
}

#home{
  font-family: Arial;
  font-size: 2em;
}

.pulse {
  animation-name: pulse_animation;
  animation-duration: 3500ms;
  transform-origin:50% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
*/