* {
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
  width: 100%;
  background-color: burlywood;
  overflow: hidden;
}

.time_line_wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  .btn {
    position: fixed;
    display: inline-block;
    z-index: 10000;
    text-transform: uppercase;
    &.horizontal{
      position: absolute;
    }
  }
  > div {
    height: 100vh;
    background-color: beige;
  }
  &.vertical {
    top: -100vh;
    .btn_prev.vertical {
      top: 10px;
      left: 50%;
    }
    .btn_next.vertical {
      top: 95vh;
      left: 50%;
    }
  }
  &.horizontal {
    left: 0;
    top: 0;
    .btn_prev.horizontal {
      top: 0;
      bottom: 0;
      //left: 105vw;
      height: 30px;
      margin: auto;
      max-width: 100px;
    }
    .btn_next.horizontal {
      top: 0;
      bottom: 0;
      //right: -105vw;
      margin: auto;
      height: 30px;
      max-width: 100px;
    }
  }
}

/*
@keyframes pulse_animation {
  0% { transform: scale(1); }
  30% { transform: scale(1); }
  40% { transform: scale(1.10); }
  50% { transform: scale(1); }
  60% { transform: scale(1); }
  70% { transform: scale(1.04); }
  80% { transform: scale(1); }
  100% { transform: scale(1); }
}

#home{
  font-family: Arial;
  font-size: 2em;
}

.pulse {
  animation-name: pulse_animation;
  animation-duration: 3500ms;
  transform-origin:50% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
*/